.logbody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 95vh;
  background-color: rgba(245, 246, 247, 1);
  padding: 20px;
  box-sizing: border-box;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  max-width: 1000px;
  background-color: white;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  box-sizing: border-box;
  /* border: solid 1px red; */
}

.logo {
  margin-bottom: 20px;
}

.logo img {
  width: 100%;
  width: 400px;
  height: auto;
}

.form > div {
  width: 100%;
}

.form img {
  width: 100%;
  max-width: 500px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.formbox {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  width: 100%;
  box-sizing: border-box;
}

.formbox h2 {
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
}

.formbox label {
  font-weight: 500;
}

.formbox input {
  height: 40px;
  width: 100%;
  border: solid 1px rgba(229, 231, 232, 1);
  border-radius: 4px;
  padding: 8px 12px;
  font-size: 16px;
  box-sizing: border-box;
}

.formbox .password {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.formbox .password .forgotLink {
  color: rgba(132, 143, 139, 1);
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
}

.formbox button {
  background-color: #1d4694;
  height: 40px;
  width: 100%;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  margin-top: 10px;
}

.passwordField {
  position: relative;
  width: 100%;
}

.forgot {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #888;
}

/* Media Queries for responsiveness */
@media (min-width: 768px) {
  .form {
    flex-direction: row;
    padding: 40px;
  }

  .form > div {
    width: 50%;
  }

  .formbox {
    padding: 20px;
  }
}

@media (max-width: 480px) {
  .formbox h2 {
    font-size: 20px;
  }

  .formbox input {
    height: 36px;
    font-size: 14px;
  }

  .formbox button {
    height: 36px;
    font-size: 14px;
  }
}
